.productores {
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  flex-flow: column wrap;
  justify-content: space-between;
  .stats {
    min-width: fit-content;
    min-height: 100%;
    @include flex-col-center;
  }

  .dataTableContainer {
    margin-left: 20px;
    min-width: 900px;
    max-height: 50%;
    @include flex-center;
    position: relative;
    .dataTableContainer__create {
      width: 100%;
      position: absolute;
      height: 40px;
      bottom: -50px;
      background: $green;
      border: none;
      border-radius: 10px;
    }
  }

  .references {
    min-width: 900px;
    min-height: 38%;

    margin-top: 70px;
    margin-left: 20px;
    @include flex-center;
    justify-content: space-around;
  }
}
