.productores {
  @include panel;
  .stats {
    max-width: 300px;
    min-height: 100%;
    @include flex-col;

    .search {
      width: 100%;
      margin-top: 20px;
      height: fit-content;
      @include flex-col-center;

      input {
        background: none;
        border: none;
        width: 100%;
        padding-left: 10px;
        height: 35px;
        font-size: 1rem;
        border-radius: 5px;

        &::placeholder {
          color: #fff;
        }

        &:focus {
          outline: none;
        }
      }

      .search__list {
        width: 100%;
        overflow: hidden;
        margin-top: 10px;
        background: pink;
        min-height: 10px;
        overflow: scroll;
        border-radius: 10px;
        max-height: 300px;
        li {
          max-width: 300px;
          word-wrap: break-word;
          padding: 10px;

          &:hover {
            background: rgba(0, 0, 0, 0.4);
          }
        }
      }
    }
  }

  .references {
    min-width: 900px;
    min-height: 38%;

    margin-top: 70px;
    margin-left: 20px;
    @include flex-center;
    justify-content: space-around;
  }
}
